@import url(https://fonts.google.com/specimen/Lexend+Deca);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containers{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: wrap;
}

img{
    width: 70px;
}
.box1{
    padding :15px;
    min-height: 430px;
    width: 270px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    
}
.box2{
    background-color: hsl(184, 100%, 22%);
    padding :15px;
    min-height: 430px;
    width: 270px
}


.box3{
    background-color:hsl(179, 100%, 13%) ;
    padding :15px;
    min-height: 430px;
    width: 270px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

.content{
    padding: 10px
}


h1{
    color:hsl(0,0%, 95%);
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
    margin: 20px 0;
}

p{
    color: hsla(0,0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
}

button{
    font-style: hsl(0, 0%, 95%);
    border-radius: 30px;
    margin: 60px 0;
    font-size: 15px;
    padding: 15px 40px;
    cursor: pointer;
    font-weight: 700;
    border: 0;
}

.btn{
    color: hsl(31,77%,52%);
}

.btn1{
    color: hsl(184,100%,22%);

}

.btn2{
    color: hsl(179, 100%, 13%);
}